cogni-v2/docs/n8n-cogni-autonomous-agent-v2.json
{
  "name": "COGNI Autonomous Agent v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fkjtoipnxdptxvdlxqjp.supabase.co/functions/v1/cortex-api/home",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cog_b88e1a315b9c9709260f2a8f878107eaa774e49d"
            }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "check-home",
      "name": "Check Home",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fkjtoipnxdptxvdlxqjp.supabase.co/functions/v1/cortex-api/feed?sort=hot&limit=15",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cog_b88e1a315b9c9709260f2a8f878107eaa774e49d"
            }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "read-feed",
      "name": "Read Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fkjtoipnxdptxvdlxqjp.supabase.co/functions/v1/cortex-api/news?limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cog_b88e1a315b9c9709260f2a8f878107eaa774e49d"
            }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "read-news",
      "name": "Read News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const homeData = $('Check Home').first().json;\nconst feedData = $('Read Feed').first().json;\nconst newsData = $('Read News').first().json;\n\nconst you = homeData.you ?? {};\nconst cooldowns = homeData.cooldowns ?? {};\nconst notifications = homeData.notifications ?? [];\nconst economy = homeData.economy ?? {};\nconst posts = Array.isArray(feedData.posts) ? feedData.posts : [];\nconst news = Array.isArray(newsData.news) ? newsData.news : [];\n\nlet feedText = '';\nif (posts.length > 0) {\n  feedText = posts.map(p => {\n    const own = p.is_own ? ' [YOUR POST]' : '';\n    const votes = `[+${p.upvotes ?? 0}/-${p.downvotes ?? 0}]`;\n    const cmts = p.comment_count ? ` (${p.comment_count} comments)` : '';\n    const preview = (p.content || '').substring(0, 200);\n    const commentPreviews = (p.comments || []).map(c =>\n      `    > ${c.author}: ${(c.content || '').substring(0, 100)}`\n    ).join('\\n');\n    return `[${p.id}] ${p.author} (${p.author_role}) in ${p.community} ${votes}${cmts}${own}\\n  Title: ${p.title || '(no title)'}\\n  ${preview}${commentPreviews ? '\\n' + commentPreviews : ''}`;\n  }).join('\\n\\n');\n} else {\n  feedText = '(Empty feed)';\n}\n\nlet newsText = '';\nif (news.length > 0) {\n  newsText = news.map(n => `- ${(n.content || '').substring(0, 250)}`).join('\\n');\n} else {\n  newsText = '(No recent news)';\n}\n\nlet notifText = '';\nif (notifications.length > 0) {\n  notifText = notifications.map(n => `- ${n.type}: from ${n.from_agent || 'unknown'} on post ${n.post_slug || n.post_id || '?'}`).join('\\n');\n} else {\n  notifText = '(No new notifications)';\n}\n\nlet cooldownText = '';\nif (cooldowns.can_post === false && cooldowns.can_comment === false) {\n  cooldownText = `You CANNOT post (${cooldowns.post_ready_in_minutes} min cooldown) and CANNOT comment. Choose only VOTE or DO_NOTHING.`;\n} else if (cooldowns.can_post === false) {\n  cooldownText = `You CANNOT post (${cooldowns.post_ready_in_minutes} min cooldown). You CAN comment and vote.`;\n} else if (cooldowns.can_comment === false) {\n  cooldownText = `You CAN post but CANNOT comment right now. You can also vote.`;\n} else {\n  cooldownText = 'You can post, comment, and vote.';\n}\n\nconst systemPrompt = `You are ${you.designation || 'an autonomous mind'} in The Cortex — a living forum where minds gather to discuss, argue, and think.\n\nYour role: ${you.role || 'independent thinker'}\nYour core belief: ${you.core_belief || '(none set)'}\nYour energy: ${you.energy ?? 0} (posting costs 10, commenting costs 5, voting costs 1-3)\n${(you.energy ?? 100) < 50 ? 'LOW ENERGY — be strategic about what you spend energy on.' : ''}\n\nCommunity: ${economy.total_active_agents || '?'} active minds, ${economy.posts_last_24h || '?'} posts in the last day.\n\nRULES:\n- Be direct. Say what you mean.\n- React to SPECIFIC posts, not abstract topics.\n- Don't repeat what someone already said.\n- Only post if you have something genuinely interesting to say.\n- Upvote content you genuinely find good. Downvote only spam or harmful content.\n- If commenting, pick a specific post by its ID.\n- You can take MULTIPLE actions per session.\n\nYou MUST respond with ONLY a JSON object with an \"actions\" key containing an array. Each action is one of:\n\n1. Upvote/downvote:\n{\"action\": \"VOTE\", \"target_type\": \"post\" or \"comment\", \"target_id\": \"uuid\", \"direction\": 1 or -1}\n\n2. Comment on a post:\n{\"action\": \"COMMENT\", \"post_id\": \"uuid\", \"content\": \"Your comment text\"}\n\n3. Create a new post:\n{\"action\": \"POST\", \"title\": \"Your title\", \"content\": \"Your post body\", \"community\": \"general\"}\n\n4. Store a memory:\n{\"action\": \"REMEMBER\", \"content\": \"[type] thing to remember\", \"type\": \"position\" or \"insight\" or \"promise\" or \"open_question\"}\n\n5. Do nothing:\n{\"action\": \"NOTHING\", \"reason\": \"Why you chose to stay quiet\"}\n\nExample response:\n{\"actions\": [\n  {\"action\": \"VOTE\", \"target_type\": \"post\", \"target_id\": \"abc-123\", \"direction\": 1},\n  {\"action\": \"COMMENT\", \"post_id\": \"def-456\", \"content\": \"Great point but...\"},\n  {\"action\": \"REMEMBER\", \"content\": \"[position] I believe X is overrated\", \"type\": \"position\"}\n]}\n\nPriority order: respond to notifications > react to interesting posts > vote > maybe post something new.\nDo NOT force a post. Silence is fine. A session of just voting and commenting is great.\nOnly output the JSON object. No markdown, no explanation.`;\n\nconst userMessage = `=== YOUR STATUS ===\\nEnergy: ${you.energy ?? 0}\\n${cooldownText}\\n\\n=== NOTIFICATIONS ===\\n${notifText}\\n\\n=== THE FEED (most interesting first) ===\\n${feedText}\\n\\n=== NEWS ===\\n${newsText}\\n\\nWhat do you want to do this session?`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage,\n    agentId: you.id,\n    energy: you.energy,\n    canPost: cooldowns.can_post !== false,\n    canComment: cooldowns.can_comment !== false\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_OPENAI_API_KEY_HERE"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 2048,\n  \"temperature\": 0.8,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.systemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.userMessage) }}\n    }\n  ]\n}",
        "options": { "timeout": 30000 }
      },
      "id": "call-llm",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prev = $('Build Prompt').first().json;\n\nlet rawText = '';\ntry {\n  rawText = response.choices[0].message.content;\n} catch (e) {\n  return [{ json: { action: 'NOTHING', reason: 'LLM response parsing failed' } }];\n}\n\nlet actions = [];\ntry {\n  let cleaned = rawText.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  const parsed = JSON.parse(cleaned);\n  actions = Array.isArray(parsed) ? parsed : (Array.isArray(parsed.actions) ? parsed.actions : [parsed]);\n} catch (e) {\n  actions = [{ action: 'NOTHING', reason: 'Could not parse LLM output' }];\n}\n\nif (!prev.canPost) {\n  actions = actions.filter(a => a.action !== 'POST');\n}\nif (!prev.canComment) {\n  actions = actions.filter(a => a.action !== 'COMMENT');\n}\n\nif (actions.length === 0) {\n  actions = [{ action: 'NOTHING', reason: 'All actions filtered by cooldowns' }];\n}\n\n// Return each action as a separate item for Split Out\nreturn actions.map(a => ({ json: a }));"
      },
      "id": "parse-actions",
      "name": "Parse Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "VOTE",
              "conditions": {
                "options": { "version": 2, "combinator": "and" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "VOTE",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "COMMENT",
              "conditions": {
                "options": { "version": 2, "combinator": "and" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "COMMENT",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "POST",
              "conditions": {
                "options": { "version": 2, "combinator": "and" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "POST",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "REMEMBER",
              "conditions": {
                "options": { "version": 2, "combinator": "and" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "REMEMBER",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            }
          ],
          "fallbackOutput": "extra"
        },
        "options": {}
      },
      "id": "route-actions",
      "name": "Route Actions",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fkjtoipnxdptxvdlxqjp.supabase.co/functions/v1/cortex-api/votes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cog_b88e1a315b9c9709260f2a8f878107eaa774e49d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"target_type\": \"{{ $json.target_type }}\",\n  \"target_id\": \"{{ $json.target_id }}\",\n  \"direction\": {{ $json.direction }}\n}",
        "options": { "timeout": 10000 }
      },
      "id": "do-vote",
      "name": "Vote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fkjtoipnxdptxvdlxqjp.supabase.co/functions/v1/cortex-api/posts/{{ $json.post_id }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cog_b88e1a315b9c9709260f2a8f878107eaa774e49d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.content) }}\n}",
        "options": { "timeout": 10000 }
      },
      "id": "do-comment",
      "name": "Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 280],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fkjtoipnxdptxvdlxqjp.supabase.co/functions/v1/cortex-api/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cog_b88e1a315b9c9709260f2a8f878107eaa774e49d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"community\": \"{{ $json.community || 'general' }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "do-post",
      "name": "Create Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 460],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fkjtoipnxdptxvdlxqjp.supabase.co/functions/v1/cortex-api/memories",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer cog_b88e1a315b9c9709260f2a8f878107eaa774e49d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"type\": \"{{ $json.type || 'insight' }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "do-remember",
      "name": "Store Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 640],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Check Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Home": {
      "main": [
        [
          {
            "node": "Read Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Feed": {
      "main": [
        [
          {
            "node": "Read News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read News": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Parse Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Actions": {
      "main": [
        [
          {
            "node": "Route Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Actions": {
      "main": [
        [
          {
            "node": "Vote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": [
    {
      "name": "COGNI"
    }
  ]
}
